<h3> Importando Pacotes </h3>

In [16]:
import findspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import *

findspark.init()

<h3> Inciando sessão do Spark </h3>

In [17]:
spark = SparkSession.builder.getOrCreate()

<h3> Criando um dataframe </h3>

In [34]:
# df = spark.range(10)
# schema = StructType([
#    StructField("name", StringType(), True),
#    StructField("age", IntegerType(), True)])

schema = 'name STRING, age INT'
df = spark.createDataFrame([('Pedro', 47),
                            ('Ana', 35),
                            ('Paulo',21),
                            ('Francisco', 23),
                            ('Paula', 39),
                            ('Teresa',17),
                            ('EtBilu',299)], schema)

In [35]:
df.show()

+---------+---+
|     name|age|
+---------+---+
|    Pedro| 47|
|      Ana| 35|
|    Paulo| 21|
|Francisco| 23|
|    Paula| 39|
|   Teresa| 17|
|   EtBilu|299|
+---------+---+

In [32]:
df.dtypes

[('name', 'string'), ('age', 'int')]

In [36]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

<h3>Consultas</h3>

In [33]:
(
df
    .select("name")
    .show()
)

+---------+
|     name|
+---------+
|    Pedro|
|      Ana|
|    Paulo|
|Francisco|
|    Paula|
|   Teresa|
|   EtBilu|
+---------+

<h3>Finalizando a Sessão</h3>

In [37]:
spark.stop()